#projects {
  height: auto;
  margin-bottom: 0;
}

.projects-container {
  text-align: center;
  color: $text-dark;
  width: 100%;
}

.project {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 25px;
  overflow: auto;
  text-align: center;
  background-color: #f7f7f7;
}

.project-heading {
  color: $deep-blue;
  font-size: 36px;
}

.project-images {
  width: 45%;
  margin-bottom: 10px;
  float: left;

  img {
    width: 300px;
    margin: 5px;
    border: 1px solid $light-gray;
  }
}

.project-description {
  width: 45%;
  min-width: 340px;
  margin-right: 5%;
  display: inline-block;
  float: right;
  text-align: left;
  line-height: 1.5;

  h3 {
    margin-top: 0;
  }
}


.techstack p {
  font-weight: bold;
}

.try-it-button {
    display: inline-block;
    text-align: center;
    background-color: $deep-blue;
    color: white;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border-radius: 1000px;
    width: 60px;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    float: left;
}

.try-it-button:hover {
  background-color: $teal;
}

.login-info {
  display: inline-block;
  margin-left: 30px;
  height: 40px;
  p {
    margin: 0px;
    font-size: 18px;
  }
}

.project-opportunities {
  margin-top: 25px;
}

.gh-link {
  display: inline-block;
  margin: 30px 5px 0px 0px;
  width: 90px;
  height: 25px;
  text-align: center;
  border: 2px solid $deep-blue;
  color: $deep-blue;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  border-radius: 1000px;
  font-weight: 400;
  font-size: 16px;
}

.gh-link:hover {
  background-color: white;
}

.testimonial {
  color: $deep-blue;
  font-weight: bold;
  text-align: center;

  i {
    margin-right: 10px;
    margin-left: 10px;
  }

  .attribution {
    font-style: italic;
  }
}

.staytuned {
  text-align: center;
  padding-bottom: 25px;
  p {
    font-size: 24px;
  }
  a {
    text-decoration: none;
    color: $deep-blue;
    font-weight: bold;
  }
}

@media only screen and (max-width: 730px) {
  .project-images {
    width: 100%;
  }
  .gh-links {
    width: 100%;
    margin-bottom: 25px;
  }
  .gh-link {
    margin-left: 5px;
    margin-right: 5px;
  }
  .techstack {
    margin-top: 25px;
  }
  .project-description {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 350px) {
  .project-heading {
    font-size: 24px;
  }
  .project-images {
    width: 80%;
    margin-left: 8%;
    img {
      width: 100%;
    }
  }
  .try-it-button {
    width: 50px;
    margin-left: 2px;
  }
  .project-container {
    margin-left: 5px;
  }
  .project-description {
    min-width: 300px;
    margin-right: 5px;
  }
  .testimonial {
    width: 100%;
    text-align: left;
  }
}
